<div class="content">
  <div class="header">Welcome to Angular bootcamp</div>
  <app-message [author]="{name:'blue',color:'blue'}" text="Ide to" timestamp=1562580268310></app-message>
  <app-message [author]="{name:'red',color:'red'}" text="Ide to" timestamp=1562580268310></app-message>
  <app-message [author]="{name:'yellow',color:'yellow'}" text="Ide to" timestamp=1562580268310></app-message>
  <app-message [author]="{name:'green',color:'green'}" text="Ide to" timestamp=1562580268310></app-message>
</div>

